<!-- <mat-toolbar color="primary">
  <a class="title" href="/">{{ title }}</a>

  <div class="toolbar-spacer"></div>

  <a mat-button [routerLink]="['profile']">Profile</a>

  <button mat-raised-button *ngIf="!loginDisplay" (click)="login()">Login</button>
  <button mat-raised-button *ngIf="loginDisplay" (click)="logout()">Logout</button>
</mat-toolbar>
<div class="container">
  <router-outlet></router-outlet>
</div> -->


<!-- Toolbar -->

<div class="toolbar" role="banner">
  <span style="padding-left: 30px;">Neurocom SA</span>
</div>
<div class="content" role="main">
</div>

<div class="container">
  <fluent-card>
    <router-outlet></router-outlet>
  </fluent-card>
</div>