<!-- 
  Example of displaying messages: 
  Error/Success Messages sent by other components or server are accepted by AppComponent
  and they are displayed here. (Messages received using BehaviorSubject and subscription)
-->
<div [(hidden)]="!msg" class="custom-box">
  <mat-card style="min-width: 300px; border: 1px solid #d5cfcf;">
    <mat-toolbar
      [ngClass]="{
        'alert-success': type === 'S',
        'alert-danger': type === 'D',
        'alert-info': type === 'I',
        'alert-warning': type === 'W'
      }"
    >
      <mat-icon>{{ msgIcon }}</mat-icon> &nbsp;
      {{ msgHeader }}
    </mat-toolbar>
    <br />
    <mat-card-content style="text-align: center;">
      <p>{{ msg | i18next: { details: details } }}</p>
    </mat-card-content>
    <mat-card-actions style="text-align: right;">
      <button mat-button (click)="clearMsgError()" style="background-color: whitesmoke;">Close</button>
    </mat-card-actions>
  </mat-card>
</div>

<!-- Example of Remote spinner:
    Components from other pages send signals to Appcomponent in order to hide or show a spinner. 
    (Signals received using BehaviorSubject and subscription)
-->
<div [(hidden)]="!loading">
  <div
    id="loading"
    class="loading"
    style="width: 100%; height: 100%; background: rgba(253, 253, 253, 0.5); position: fixed; top: 0; left: 0; z-index: 100;"
  >
    <div class="loading">
      <mat-spinner></mat-spinner>
    </div>
  </div>
</div>

<!-- Superset login (hacky way in order to login using neurocom-oidc) -->
<span *ngIf="supersetLoginUrl$ | async; let supersetLoginUrl">
  <iframe style="display: none;" [src]="supersetLoginUrl | safe"></iframe>
</span>

<router-outlet></router-outlet>
