<fluent-tabs activeid="entrees">
    <fluent-tab id="apps">Profile</fluent-tab>
    <fluent-tab id="groups">Groups</fluent-tab>
    <fluent-tab id="members">Members</fluent-tab>
    <fluent-tab-panel id="appsPanel">
        <fluent-button (click)="getProfile()" appearance="neutral" style="margin-top:25px;">
            GET PROFILE
        </fluent-button>
        <div *ngIf="profile" style="margin-top: 25px;">
            <fluent-card class="custom">
                id: {{profile.id}}<br>
                businessPhones: {{profile.businessPhones}}<br>
                displayName: {{profile.displayName}}<br>
                givenName: {{profile.givenName}}<br>
                jobTitle: {{profile.jobTitle}}<br>
                mail: {{profile.mail}}<br>
                mobilePhone: {{profile.mobilePhone}}<br>
                officeLocation: {{profile.officeLocation}}<br>
                preferredLanguage: {{profile.preferredLanguage}}<br>
                surname: {{profile.surname}}<br>
                userPrincipalName: {{profile.userPrincipalName}}<br>
            </fluent-card>
        </div>
    </fluent-tab-panel>
    <fluent-tab-panel id="groupsPanel">
        <fluent-button (click)="getGroups()" appearance="neutral" style="margin-top:25px;">
            GET GROUPS
        </fluent-button>
        <fluent-card *ngIf="groups" style="margin-top:25px;">
            <fluent-data-grid id="defaultGrid" style="max-height: 50em; overflow-y: auto;">
            </fluent-data-grid>
        </fluent-card>
    </fluent-tab-panel>
    <fluent-tab-panel id="membersPanel">
    </fluent-tab-panel>
</fluent-tabs>
