<div *ngIf="isLoggedIn()">
YOU ARE LOGGED IN AS {{ getName() }}
</div>

<div *ngIf="!isLoggedIn()">
YOU ARE NOT LOGGED IN
</div>

<br>
<br>


<fluent-tabs activeid="entrees">
    <fluent-tab id="apps">Profile</fluent-tab>
    <fluent-tab id="groups">Groups</fluent-tab>
    <fluent-tab id="members">Members</fluent-tab>
    <fluent-tab-panel id="appsPanel">
        <fluent-button (click)="callProfile()" appearance=”accent”  style="margin-top:25px;">
            GET PROFILE
        </fluent-button>
        <div *ngIf="apiResponse" style="margin-top: 25px;">
            <!-- {{apiResponse | json}} -->
            <fluent-card class="custom" style="padding: 25px; background-color: #f1f1f1;border-radius: 4px;">
                id: {{apiResponse.id}}<br>
                businessPhones: {{apiResponse.businessPhones}}<br>
                displayName: {{apiResponse.displayName}}<br>
                givenName: {{apiResponse.givenName}}<br>
                jobTitle: {{apiResponse.jobTitle}}<br>
                mail: {{apiResponse.mail}}<br>
                mobilePhone: {{apiResponse.mobilePhone}}<br>
                officeLocation: {{apiResponse.officeLocation}}<br>
                preferredLanguage: {{apiResponse.preferredLanguage}}<br>
                surname: {{apiResponse.surname}}<br>
                userPrincipalName: {{apiResponse.userPrincipalName}}<br>
            </fluent-card>
        </div>
    </fluent-tab-panel>
    <fluent-tab-panel id="groupsPanel">
        <fluent-button (click)="getAccessTokenAndCallGraphAPI()" appearance=”accent” style="margin-top:25px;">
            GET GROUPS
        </fluent-button>
        <div *ngIf="groups" style="margin-top:25px; padding: 25px; background-color: #f1f1f1; border-radius: 4px;">
            <!-- {{groups | json}} -->
            <fluent-data-grid id="defaultGrid" style="max-height: 30em; overflow-y: auto;">
            </fluent-data-grid>
        </div>
    </fluent-tab-panel>
    <fluent-tab-panel id="membersPanel">
        <!-- <fluent-button (click)="callProfile()" appearance=”accent”  style="margin-top:25px;">
            GET PROFILE
        </fluent-button>
        <div *ngIf="apiResponse" style="margin-top:25px; padding: 25px; background-color: #f1f1f1;">{{apiResponse}}</div> -->
    </fluent-tab-panel>
</fluent-tabs>
